{%- if site.texture.style == "custom" -%}
	<div class="container custom-page-header">
{%- else -%}
	<div class="container">
{%- endif -%}
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		{%- if site.texture.social_links.email -%}
			<a href="mailto:{{ site.texture.social_links.email }}"><li><i class="material-icons" style="margin-right: 0.25em; line-height: 0.88em">email</i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.telegram -%}
			<a target="_blank" href="https://t.me/{{ site.texture.social_links.telegram }}"><li><i class="material-icons" style="margin-right: 0.25em">chat</i></li></a>
		{%- endif -%}
	</ul>
</div>
