<article class="post type-post status-publish format-standard hentry entry">
    <header class="entry-header">
        <h1 class="entry-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
        <div class="entry-meta">
            {% if post.date %}
                <span class="posted-on"><svg class="svg-icon" width="16" height="16" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><path id="a" d="M0 0h24v24H0V0z"></path></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"></use></clipPath><path clip-path="url(#b)" d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm4.2 14.2L11 13V7h1.5v5.2l4.5 2.7-.8 1.3z"></path></svg><time class="entry-date published updated" datetime="2019-05-10T21:56:06+00:00">{{ post.date | date: '%B %d, %Y' }}</time></span>
            {% endif %}
        </div><!-- .entry-meta -->
    </header>

    <div class="entry-content">
        {% if page.is_index %}
            {{ post.excerpt | strip_html | truncatewords: 30 }}
        {% else %}
            {{ content }}
        {% endif %}
    </div><!-- .entry-content -->
</article>